
.votecount-box {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border: outset;
	border-color: rgba(240, 240, 240, 1);
	text-align: center;
}

.votecount-box:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.answercount-box {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	background-color: rgb(255, 255, 255);
	color: rgba(200, 0, 0, 1);
	border: outset;
	border-color: rgba(240, 240, 240, 1);
	text-align: center;
}

.answercount-box:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.viewcount-box {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	background-color: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 0.5);
	border: outset;
	border-color: rgba(240, 240, 240, 1);
	text-align: center;
}

.viewcount-box:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.question-box {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: rgb(255, 255, 255);
	color: rgba(0, 0, 180, 1);
}

.question-box:hover {
	border: outset;
	border-color: rgba(230, 230, 230, 1);
}

.tags-box {
	padding-top: 10px;
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	background-color: rgb(255, 255, 255);
	border: none;
	text-align: right;
	line-height: 20px;
}

.tag-link {
	color: rgba(0, 0, 0, 1);
	font-size: 14;
}

.tag-link:hover {
	color: rgba(255, 0, 0, 1);
	font-size: 18;
}

.title {
	font-size: 22;
	color: rgb(0, 0, 0);
}

.questiontag {
	color: rgb(255, 255, 255);
	background-color: rgba(240, 80, 0, 1);
	border-color: rgba(0, 0, 0, 0.2);
	margin-right: 2px;
	font-size: 12;
}

.questioninfo {
	font-size: 12;
	color: rgb(0, 0, 0);
}

.recent-tags {
	text-align: center;
}

.common-tags {
	text-align: center;
}

.tag-list-element {
	font-size: 15;
	color: rgba(0, 0, 0, 1);
}

.tag-list-element:hover {
	color: rgba(255, 0, 0, 1);
}

.tag-list-used {
	font-size: 10;
}