{% extends "qanda_base.html" %}

{% block head %}
	<title> {{ SITE_NAME }} - Edit Question </title>
{% endblock %}

{% block body %}

	{% block edit_question %}

		<div class="row">
			<div class="span6">
				<form method="post" action="{{ action_link }}">
					{% csrf_token %}
					{{ question_form.non_field_errors }}
					<input type="hidden" name="pk" value="{{ pk }}">
					<input type="hidden" name="type" value="{{ type }}">
					<div class="questionTitleWrapper">
				        <label for="id_title">
							<h2>
								Title:
			        		</h2>
			        	{{ question_form.title.errors }}
				        {{ question_form.title }}
						</label>
					</div>

					<div class="questionCategoryWrapper">
				        <label for="id_category">
				        	<h4>
				        		Question Category:
				        	</h4>
				        {{ question_form.category.errors }}
				        </label>
				        {{ question_form.category }}
					</div>

					<div class="questionTextWrapper">
				        <label for="id_text">
				        	<h4>
				        		Question Text:
				        	</h4>
				        {{ question_form.text.errors }}
				        </label>
				        {{ question_form.text }}
					</div>

					<div class="questionTagsWrapper">
				        {{ question_form.tags.errors }}
				        <label for="id_tags">
				        	<h4>
				        		Tags:
				        	</h4>
				        </label>
				        {{ question_form.tags }}
					</div>

				<input type="submit" value="Submit" />
				</form>
			</div>

			{% include "righthand_tags.html" %}
			
		</div>

	{% endblock %}

{% endblock %}