{% block navbar %}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{ ROOT_URL }}">{{ SITE_NAME }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li {% if view == "question_list" %} class="active" {% endif %} ><a href="{% url qanda_app.views.index %}">Home</a></li>
          <li {% if view == "last_question_page" %} class="active" {% endif %} ><a href="{% url qanda_app.views.most_recent_question %}">Last Question</a></li>
          <li {% if view == "tag_list" %} class="active" {% endif %} ><a href="{% url qanda_app.views.tag_list page="0" %}">Tags</a></li>
          <li {% if view == "category_list" %} class="active" {% endif %} ><a href="{% url qanda_app.views.category_list page="0" %}">Categories</a></li>
          <li {% if view == "new_question_page" %} class="active" {% endif %} ><a href="{% url qanda_app.views.new_question_page %}">New Question</a></li>
        </ul>

        <!-- Search Form -->
        <form class="navbar-search pull-right" action="/search/" method="GET">
          <div class="controls">
          <div class="input-prepend">
          <span class="add-on">
            <i class="icon-search"></i>
            
            <input type="text" name="{{ search_form.q.name }}" id="id_q" class="search-query" placeholder="Search"></input>
          </span>
        </div>
      </div>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

{% endblock %}