{% extends "qanda_base.html" %}

{% block head %}
	<title> Qanda </title>
	{% include "scripts.html" %}
{% endblock %}

{% block body %}

	{% block new_question %}

<div class="span6">
	<form method="post" action="{{ action_link }}">
		{% csrf_token %}
		{{ question_form.non_field_errors }}
		<input type="hidden" name="pk" value="{{ pk }}">
		<input type="hidden" name="type" value="{{ type }}">
		<div class="questionTitleWrapper">
	        {{ question_form.title.errors }}
	        <label for="id_title">Title:</label>
	        {{ question_form.title }}
		</div>

		<div class="questionTextWrapper">
	        {{ question_form.text.errors }}
	        <label for="id_text">Question Text:</label> <br />
	        {{ question_form.text }}
		</div>

		<div class="questionTagsWrapper">
	        {{ question_form.tags.errors }}
	        <label for="id_tags">Tags:</label>
	        {{ question_form.tags }}
		</div>

	<input type="submit" value="Submit" />
	</form>
</div>
	{% endblock %}

{% endblock %}