{% extends "qanda_base.html" %}

{% block head %}
	<title> {{ SITE_NAME }} - {{ qandaUser.djangoUser }} </title>
{% endblock %}

{% block body %}

	{% block profile %}

	<div class="row">
		<div class="span10">
			<h2>
				Profile Page for "{{ qandaUser.djangoUser }}"
			</h2>

			<div class="span9">
				<div class="row">
					#questions : {{ qandaUser.questions.count }}
				</div>
				<div class="row">
					#answers : {{ qandaUser.answers.count }}
				</div>
				<div class="row">
					#replies : {{ qandaUser.replies.count }}
				</div>
				<div class="row">
					#and_so_on : {{ qandaUser.pk }}
				</div>
			</div>
		</div>

		{% include "righthand_tags.html" %}
		
	</div>

	{% endblock %}

{% endblock %}