{% extends "qanda_base.html" %}

{% block head %}
	<title> {{ SITE_NAME }} - {{ qandaUser.djangoUser }} </title>
{% endblock %}

{% block body %}

	{% block profile %}

	<div class="row">
		<div class="span10">
			<h2>
				Profile Page of {{ qandaUser.djangoUser }}
			</h2>
			<div class="row">
				<p></p>
			</div>
			<div class="row">
				<p></p>
			</div>
			<div class="row profile-summary">
				<p>Summary</p>
			</div>
			<div class="row profile-summary-begin">
					{{ qandaUser.djangoUser }} has 
			</div>
			<div class="row profile-summary-element">
					asked 
					<a class="profile-important-link" href="{% url user_asked_questions_list user_id=qandaUser.pk question_id=0 %}">
						{{ qandaUser.get_questions_asked }} question{{ qandaUser.get_questions_asked|pluralize }}.
					</a>
			</div>
			<div class="row profile-summary-element">
				answered 
				<a class="profile-important-link" href="{% url user_answered_questions_list user_id=qandaUser.pk question_id=0 %}">
					{{ qandaUser.get_questions_answered }} question{{ qandaUser.get_questions_answered|pluralize }}.
				</a>
			</div>
			<div class="row profile-summary-element">
				a total of
				<a class="profile-important-link" href="{% url user_answered_questions_list user_id=qandaUser.pk question_id=0 %}">
					{{ qandaUser.get_answers }} answer{{ qandaUser.get_answers|pluralize }}.
				</a>
			</div>
			<div class="row profile-summary-element">
				replied to  
				<a class="profile-important-link" href="{% url user_replied_questions_list user_id=qandaUser.pk question_id=0 %}">
					{{ qandaUser.get_answers_replied }} answer{{ qandaUser.get_answers_replied|pluralize }}.
				</a>
			</div>
			<div class="row profile-summary-element">
				a total of
				<a class="profile-important-link" href="{% url user_replied_questions_list user_id=qandaUser.pk question_id=0 %}">
					{{ qandaUser.get_replies }} repl{{ qandaUser.get_replies|pluralize:"y,ies" }}.
				</a>
			</div>

			<div class="user-relations-block">
				<div class="row profile-rest">
					<a class="relations-title" href="#user-relations-table" onClick="toggleElementVisibility('#user-relations-table', '#user-relations-message', 500);">User Relations</a>
					<div id="user-relations-message" class="relations-message">
						(click the title to display)
					</div>
				</div>
				<div id="user-relations-table" class="relations-table">
					<table class="profile-rest-table">
						<tr>
							<th>
								{{ qandaUser.djangoUser }}
							</th>
							<th>
								Taken
							</th>
							<th>
								Given
							</th>
						</tr>
						<tr>
							<td>
								User Stars
							</td>
							<td>
								{{ qandaUser.get_user_stars_taken }}
							</td>
							<td>
								{{ qandaUser.get_user_stars_given }}
							</td>
						</tr>
						<tr>
							<td>
								User Flags
							</td>
							<td>
								{{ qandaUser.get_user_flags_taken }}
							</td>
							<td>
								{{ qandaUser.get_user_flags_given }}
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="question-relations-block">
				<div class="row profile-rest">
					<a class="relations-title" href="#questions-table" onClick="toggleElementVisibility('#question-relations-table', '#question-relations-message', 500);">Question Relations</a>
					<div id="question-relations-message" class="relations-message">
						(click the title to display)
					</div>
				</div>
				<div id="question-relations-table" class="relations-table">
					<table class="profile-rest-table">
						<tr>
							<th>
								{{ qandaUser.djangoUser }}
							</th>
							<th>
								Taken
							</th>
							<th>
								Given
							</th>
						</tr>
						<tr>
							<td>
								Upvotes
							</td>
							<td>
								{{ qandaUser.get_question_upvotes_taken }}
							</td>
							<td>
								{{ qandaUser.get_question_upvotes_given }}
							</td>
						</tr>
						<tr>
							<td>
								Downvotes
							</td>
							<td>
								{{ qandaUser.get_question_downvotes_taken }}
							</td>
							<td>
								{{ qandaUser.get_question_downvotes_given }}
							</td>
						</tr>
						<tr class="question-useful-row">
							<td>
								Found Useful
							</td>
							<td>
								{{ qandaUser.get_question_usefuls_taken }}
							</td>
							<td>
								{{ qandaUser.get_question_usefuls_given }}
							</td>
						</tr>
						<tr class="question-notUseful-row">
							<td>
								Didn't Found Useful
							</td>
							<td>
								{{ qandaUser.get_question_notUsefuls_taken }}
							</td>
							<td>
								{{ qandaUser.get_question_notUsefuls_given }}
							</td>
						</tr>
						<tr class="question-stars-row">
							<td>
								Stars
							</td>
							<td>
								{{ qandaUser.get_question_stars_taken }}
							</td>
							<td>
								{{ qandaUser.get_question_stars_given }}
							</td>
						</tr>
						<tr class="question-flags-row">
							<td>
								Flags
							</td>
							<td>
								{{ qandaUser.get_question_flags_taken }}
							</td>
							<td>
								{{ qandaUser.get_question_flags_given }}
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="answer-relations-block">
				<div class="row profile-rest">
					<a class="relations-title" href="#relations-title" onClick="toggleElementVisibility('#answer-relations-table', '#answer-relations-message', 500);">Answer Relations</a>
					<div id="answer-relations-message" class="relations-message">
						(click the title to display)
					</div>
				</div>
				<div id="answer-relations-table" class="relations-table">
					<table class="profile-rest-table">
						<tr>
							<th>
								{{ qandaUser.djangoUser }}
							</th>
							<th>
								Taken
							</th>
							<th>
								Given
							</th>
						</tr>
						<tr>
							<td>
								Upvotes
							</td>
							<td>
								{{ qandaUser.get_answer_upvotes_taken }}
							</td>
							<td>
								{{ qandaUser.get_answer_upvotes_given }}
							</td>
						</tr>
						<tr>
							<td>
								Downvotes
							</td>
							<td>
								{{ qandaUser.get_answer_downvotes_taken }}
							</td>
							<td>
								{{ qandaUser.get_answer_downvotes_given }}
							</td>
						</tr>
						<tr class="answer-useful-row">
							<td>
								Found Useful
							</td>
							<td>
								{{ qandaUser.get_answer_usefuls_taken }}
							</td>
							<td>
								{{ qandaUser.get_answer_usefuls_given }}
							</td>
						</tr>
						<tr class="answer-notUseful-row">
							<td>
								Didn't Found Useful
							</td>
							<td>
								{{ qandaUser.get_answer_notUsefuls_taken }}
							</td>
							<td>
								{{ qandaUser.get_answer_notUsefuls_given }}
							</td>
						</tr>
						<tr class="answer-stars-row">
							<td>
								Stars
							</td>
							<td>
								{{ qandaUser.get_answer_stars_taken }}
							</td>
							<td>
								{{ qandaUser.get_answer_stars_given }}
							</td>
						</tr>
						<tr class="answer-flags-row">
							<td>
								Flags
							</td>
							<td>
								{{ qandaUser.get_answer_flags_taken }}
							</td>
							<td>
								{{ qandaUser.get_answer_flags_given }}
							</td>
						</tr>
					</table>
				</div>
			</div>

			<div class="row">
				<p></p>
			</div>
			<div class="row">
				<p></p>
			</div>

		</div>

		{% include "righthand_tags.html" %}
		
	</div>

	{% endblock %}

{% endblock %}