{% extends "qanda_base.html" %}

{% block head %}
	<title> 
		{{ SITE_NAME }} - 
		{% if view == 'user_asked_questions_list' %}
			Asked Questions by {{ qandaUser.djangoUser }}
		{% elif view == 'user_answered_questions_list' %}
			Answered Questions by {{ qandaUser.djangoUser }}
		{% elif view == 'user_replied_questions_list' %}
			Replied Questions by {{ qandaUser.djangoUser }}
		{% elif view == 'question_list' %}
			Recent Questions 
    	{% endif %}
	</title>
{% endblock %}

{% block body %}

	{% block question_list %}

	<div class="row">
		<div class="row">
			<h2>
				{% if view == 'user_asked_questions_list' %}
					Asked Questions by {{ qandaUser.djangoUser }}
				{% elif view == 'user_answered_questions_list' %}
					Answered Questions by {{ qandaUser.djangoUser }}
				{% elif view == 'user_replied_questions_list' %}
					Replied Questions by {{ qandaUser.djangoUser }}
				{% elif view == 'question_list' %}
					Recent Questions 
		    	{% endif %}

				<div class="pull-right">
					<div class="btn-group btn-large">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							Category Filter
							<span class="caret"></span>
						</a>
						{% if view == 'user_asked_questions_list' %}
							<ul class="dropdown-menu">
								<li>
									<a href="{% url user_asked_questions_list user_id=qandaUser.pk question_id='0' %}">All</a>
								</li>
								{% for category in categories %}
									<li>
										<a href="{% url categorized_user_asked_questions_list user_id=qandaUser.pk category=category.name question_id='0' %}">{{ category.name }}</a>
									</li>
								{% endfor %}
							</ul>
						{% elif view == 'user_answered_questions_list' %}
							<ul class="dropdown-menu">
								<li>
									<a href="{% url user_answered_questions_list user_id=qandaUser.pk question_id='0' %}">All</a>
								</li>
								{% for category in categories %}
									<li>
										<a href="{% url categorized_user_answered_questions_list user_id=qandaUser.pk category=category.name question_id='0' %}">{{ category.name }}</a>
									</li>
								{% endfor %}
							</ul>
						{% elif view == 'user_replied_questions_list' %}
							<ul class="dropdown-menu">
								<li>
									<a href="{% url user_replied_questions_list user_id=qandaUser.pk question_id='0' %}">All</a>
								</li>
								{% for category in categories %}
									<li>
										<a href="{% url categorized_user_replied_questions_list user_id=qandaUser.pk category=category.name question_id='0' %}">{{ category.name }}</a>
									</li>
								{% endfor %}
							</ul>
						{% elif view == 'question_list' %}
							<ul class="dropdown-menu">
								<li>
									<a href="{% url qanda_app.views.question_list question_id='0' %}">All</a>
								</li>
								{% for category in categories %}
									<li>
										<a href="{% url qanda_app.views.categorized_question_list category=category.name question_id='0' %}">{{ category.name }}</a>
									</li>
								{% endfor %}
							</ul>
				    	{% endif %}
					</div>
				</div>	
			</h2>
		</div>

		<div class="row">
			<p></p>
		</div>

		{% include "question_listing_base.html" %}

		{% include "righthand_tags.html" %}

	</div>
	
	<div class="row">
		<p></p>
	</div>

	<div class="pagination pagination-large text-center">
	  <ul>
		{% if prev or prev == 0 %}
			{% if view == 'user_asked_questions_list' %}
				{% if category %}
		    		<li class=""><a href="{% url categorized_user_asked_questions_list user_id=qandaUser.pk category=category question_id=prev %}">Prev</a></li>
				{% else %}
		    		<li class=""><a href="{% url user_asked_questions_list user_id=qandaUser.pk question_id=prev %}">Prev</a></li>
		    	{% endif %}
    		{% elif view == 'user_answered_questions_list' %}
    			{% if category %}
	    			<li class=""><a href="{% url categorized_user_answered_questions_list user_id=qandaUser.pk category=category question_id=prev %}">Prev</a></li>
	    		{% else %}
	    			<li class=""><a href="{% url user_answered_questions_list user_id=qandaUser.pk question_id=prev %}">Prev</a></li>
    			{% endif %}
    		{% elif view == 'user_replied_questions_list' %}
    			{% if category %}
	    			<li class=""><a href="{% url categorized_user_replied_questions_list user_id=qandaUser.pk category=category question_id=prev %}">Prev</a></li>
	    		{% else %}
	    			<li class=""><a href="{% url user_replied_questions_list user_id=qandaUser.pk question_id=prev %}">Prev</a></li>
	    		{% endif %}
    		{% elif view == 'question_list' %}
	    			<li class=""><a href="{% url qanda_app.views.question_list question_id=prev %}">Prev</a></li>
	    	{% endif %}
    	{% else %}
	    	<li class="disabled"><a href="#">Prev</a></li>
		{% endif %}
			
			<li class="disabled"><a href="#">_______________________</a></li>

		{% if next %}
			{% if view == 'user_asked_questions_list' %}
				{% if category %}
		    		<li class=""><a href="{% url categorized_user_asked_questions_list user_id=qandaUser.pk category=category question_id=next %}">Next</a></li>
				{% else %}
		    		<li class=""><a href="{% url user_asked_questions_list user_id=qandaUser.pk question_id=next %}">Next</a></li>
		    	{% endif %}
    		{% elif view == 'user_answered_questions_list' %}
    			{% if category %}
	    			<li class=""><a href="{% url categorized_user_answered_questions_list user_id=qandaUser.pk category=category question_id=next %}">Next</a></li>
	    		{% else %}
	    			<li class=""><a href="{% url user_answered_questions_list user_id=qandaUser.pk question_id=next %}">Next</a></li>
    			{% endif %}
    		{% elif view == 'user_replied_questions_list' %}
    			{% if category %}
	    			<li class=""><a href="{% url categorized_user_replied_questions_list user_id=qandaUser.pk category=category question_id=next %}">Next</a></li>
	    		{% else %}
	    			<li class=""><a href="{% url user_replied_questions_list user_id=qandaUser.pk question_id=next %}">Next</a></li>
	    		{% endif %}
    		{% elif view == 'question_list' %}
	    			<li class=""><a href="{% url qanda_app.views.question_list question_id=next %}">Next</a></li>
	    	{% endif %}
	    {% else %}
	    	<li class="disabled"><a href="#">Next</a></li>
		{% endif %}
	  </ul>
	</div>

	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>

	{% endblock %}

{% endblock %}