{% extends "qanda_base.html" %}

{% block head %}
	<title> Qanda </title>
{% endblock %}

{% block body %}

	{% block question_list %}

	{% for question in questions %}
		<div class="row">
			<div class="span12">
				<a href="{% url qanda_app.views.question_page question_id=question.pk %}">
					<div class="span1 votecount-box">
						Votes<br />{{ question.voteCount }}
					</div>
					<div class="span1 viewcount-box">
						Views<br />{{ question.viewCount }}
					</div>	
					<div class="span1 answercount-box">
						Answers<br />{{ question.answers.count }}
					</div>	
					<div class="span7 titleandauthor-box">
						Title: {{ question.title }}
						by {{ question.author }}
					</div>	
				</a>
			</div>	
		</div>
		<div class="row">
			<p></p>
		</div>
	{% endfor %}

	<div class="row">
		<p></p>
	</div>

	<div class="row">
		<div class="span6">
			{% if prev %}
			<a href="{% url qanda_app.views.question_list question_id=prev %}">Prev</a>
			{% endif %}
			{% if next %}
			<a href="{% url qanda_app.views.question_list question_id=next %}">Next</a>
			{% endif %}
		</div>
	</div>

	{% endblock %}

{% endblock %}