{% load i18n %}

<div class="span10">
	{% for question in questions %}
		<div class="row">
			<div class="span10">
				<a href="{% url qanda_app.views.question_page question_id=question.pk %}">
					<div class="span1 votecount-box">
						{% trans "Votes" %}<br />{{ question.voteCount }}
					</div>
					<div class="span1 answercount-box">
						{% trans "Answers" %}<br />{{ question.answers.count }}
					</div>	
					<div class="span1 viewcount-box">
						{% trans "Views" %}<br />{{ question.viewCount }}
					</div>	
					<div class="span6 question-box">
							<span class="title">
								{{ question.title }}<br/>
							</span>
						{% for tag in question.tags.all %}
							<span class="questiontag">						
								#{{ tag }}
							</span>
						{% endfor %}
						{% if not question.tags.all.exists %}
							<span class="questiontag">						
								#
							</span>
						{% endif %}
						<span class="questioninfo pull-right">
							<a class="questioninfo pull-right" href="{{ question.author.get_absolute_url }}">{{ question.postDate }} {% trans "by" %} {{ question.author }} </a>
						</span>
					</div>	
				</a>
			</div>	
		</div>
		<div class="row">
			<p></p>
		</div>
	{% endfor %}
</div>