{% extends "qanda_base.html" %}

{% block head %}
	<title> {{ question.title }} </title>
{% endblock %}

{% block body %}

	{% comment %}
		{% include "new_question.html" with type="new_question" %}
	{% endcomment %}

	{{ debug }}
	<div class="row">
		<div class="span10">
			<div class="question">
				<div class="row">
					<div class="pull-left">
						<a href="relate_single/upvote/{% if question.relations.upvote %}false{%else%}true{% endif %}" class="btn {% if question.relations.upvote %} active {% endif %}"><i class="icon-arrow-up"></i>&nbsp;&nbsp;Up&nbsp;&nbsp;&nbsp;</a>
						<br/>
						<h4 class="text-center">
							{% if question.numOfVotes > 0 %}
								+ {{ question.numOfVotes }}
							{% else %}
								{{ question.numOfVotes }}
							{% endif %}
						</h4>
						<a href="relate_single/downvote/{% if question.relations.downvote %}false{%else%}true{% endif %}" class="btn {% if question.relations.downvote %} active {% endif %}"><i class="icon-arrow-down"></i>Down</a>
					</div>
					<div class="span8">
						<h2> {{ question.title }} - {{ question.viewCount }} </h2> 
					</div>
				</div>
				<div class="row">
					<p></p>
				</div>
				<div class="row">
					<div class="span6">
						by <i>{{ question.author }}</i> <br />
						submitted {{ question.postDate }} <br />
					</div>
					<div class="span3">
						{% include "subscription.html" with pk=question.pk type="question_subscription" action_link="subscribe/" subscribed=question.subscribed %}
					</div>
				</div>
				<div class="row">
					<p></p>
				</div>
				<div class="row">
					<div class="span8">
						<blockquote>
						{{ question.text }}  
						</blockquote>
					</div>
					<!-- <div class="span2">
						{% include "relations.html" with relations=question.relations pk=question.pk type="question" action_link="relate/" %}
					</div> -->
					<div class="span2">
						<a href="relate_single/star/{% if question.relations.star %}false{%else%}true{% endif %}" class="btn {% if question.relations.star %} active {% endif %}">
							<i class="icon-star"></i> Star
						</a>
						<br/>
						<br/>
						<a href="relate_single/flag/{% if question.relations.flag %}false{%else%}true{% endif %}" class="btn {% if question.relations.flag %} active {% endif %}">
							<i class="icon-flag"></i> Flag
						</a>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<ul>
							Tags:
							{% for tag in question.tags.all %}
								<a href="{% url qanda_app.views.tag_page tag=tag.name page="0" %}">{{ tag.name }},</a>
							{% endfor %}
						</ul>	
					</div>
				</div>
				<div class="row">
					<div class="span8 question-useful">
						<h6>
							Have you found this question useful?
							<a href="relate_single/useful/{% if question.relations.useful %}false{%else%}true{% endif %}" class="btn {% if question.relations.useful %} active {% endif %}">Yes</a>
							<a href="relate_single/notUseful/{% if question.relations.notUseful %}false{%else%}true{% endif %}" class="btn {% if question.relations.notUseful %} active {% endif %}">No</a>
						</h6>
					</div>
				</div>
			</div>

			<!-- <div class="row">
				<div class="span8">
					<a href="{% url new_question_page %}">Enter a new question</a> <br />
				</div>
			</div> -->
			<hr>

			{% for answer in answers %}
			<div class ="row answer">
				<div class="span9">
				<p>
					<div class="row">
						<div class="pull-left">
							<a href="{{ answer.pk }}/upvote/{% if answer.relations.upvote %}false{%else%}true{% endif %}" class="btn {% if answer.relations.upvote %} active {% endif %}"><i class="icon-arrow-up"></i>&nbsp;&nbsp;Up&nbsp;&nbsp;&nbsp;</a>
							<br/>
							<h4 class="text-center">
								{% if answer.numOfVotes > 0 %}
									+ {{ answer.numOfVotes }}
								{% else %}
									{{ answer.numOfVotes }}
								{% endif %}
							</h4>
							<a href="{{ answer.pk }}/downvote/{% if answer.relations.downvote %}false{%else%}true{% endif %}" class="btn {% if answer.relations.downvote %} active {% endif %}"><i class="icon-arrow-down"></i>Down</a>
						</div>
						<div class="span7">
							<blockquote>
								{{ answer.text }} 
							</blockquote>
						</div>
						<div class="pull-right">
							<a href="{{ answer.pk }}/star/{% if answer.relations.star %}false{%else%}true{% endif %}" class="btn {% if answer.relations.star %} active {% endif %}">
								<i class="icon-star"></i> Star
							</a>
							<br/>
							<br/>
							<a href="{{ answer.pk }}/flag/{% if answer.relations.flag %}false{%else%}true{% endif %}" class="btn {% if answer.relations.flag %} active {% endif %}">
								<i class="icon-flag"></i> Flag
							</a>
						</div>
						<!-- <div class="span1">
							{% include "relations.html" with relations=answer.relations pk=answer.pk type="answer" action_link="relate/" %} <br />
						</div> -->
					</div>
					<div class="row">
						<div class="span5 offset1">
							by <i>{{ answer.author }}</i>
						</div>
						<div class="span1">
							{% include "subscription.html" with pk=answer.pk type="answer_subscription" action_link="subscribe/" subscribed=answer.subscribed %}
						</div>
					</div>
					<div class="row answer-useful">
						<div class="span5 offset1">
							<h6>
								Have you found this answer useful?
								<a href="{{ answer.pk }}/useful/{% if answer.relations.useful %}false{%else%}true{% endif %}" class="btn {% if answer.relations.useful %} active {% endif %}">Yes</a>
								<a href="{{ answer.pk }}/notUseful/{% if answer.relations.notUseful %}false{%else%}true{% endif %}" class="btn {% if answer.relations.notUseful %} active {% endif %}">No</a>
							</h6>
						</div>
					</div>
					
					{% for reply in answer.replies.all %}
						{% if not reply.deleted %}
							<div class="row">
								<div class="span6 offset2">
									<hr>
									{{ reply.text }} <br />
									by <i>{{ reply.author }}</i> <br />
								</div>
								{% endif %}
							</div>
					{% endfor %}
					<div class="row">
						<p></p>
					</div>
					<div class="row reply-box">
						<div class="span5 offset2">
							{% if user.is_authenticated %}
								{% include "reply.html" with pk=answer.pk type="new_reply" action_link="relate/" %}
							{% else %}
								<a href="{% url qanda_app.views.login_redirect request.path %}">Login to reply</a>
							{% endif %}
						</div>
					</div>
					<hr>
				</p>
				</div>
			</div>
			{% endfor %}

			<div class="row">
				<h3> Answer this question </h3>

				{% include "new_answer.html" with type="new_answer" action_link="relate/" %}
			</div>
		</div>

		{% include "righthand_tags.html" %}

	</div>

{% endblock %}