{% block subscription %}
{% load i18n %}

<div class="span3">
	{% if type == 'question_subscription' %}
		<a href="subscribe/{% if subscribed == 'True' %}false{% else %}true{% endif %}" class="btn btn-mini {% if subscribed == 'True' %}active{% endif %}">
	{% else %}
		<a href="{{ pk }}/subscribe/{% if subscribed == 'True' %}false{% else %}true{% endif %}" class="btn btn-mini {% if subscribed == 'True' %}active{% endif %}">
	{% endif %}
			<i class="icon-envelope"></i>
			{% if subscribed == 'True' %}
				{% trans "Subscribed" %}
			{% else %}
				{% trans "Subscribe" %}
			{% endif %}
		</a>
</div>

{% endblock %}
