{% extends "qanda_base.html" %}

{% block head %}
	<title> Qanda </title>
{% endblock %}

{% block body %}

	{% block question_list %}

	<div class="row">
		<h2>
			Questions with "{{ tag }}" tag
		</h2>

		<div>
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Category Filter
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#all">All</a>
					</li>
					{% for category in categories %}
						<li>
							<a href="#{{ category.name }}">{{ category.name }}</a>
						</li>
					{% endfor %}
				</ul>
		</div>

		<div class="row">
			<p></p>
		</div>
		
		{% include "question_listing_base.html" %}

		{% include "righthand_tags.html" %}

	</div>
	
	<div class="row">
		<p></p>
	</div>

	<div class="pagination pagination-large text-center">
	  <ul>
		{% if prev or prev == 0 %}
	    	<li class=""><a href="{% url qanda_app.views.tag_page tag=tag page=prev %}">Prev</a></li>
    	{% else %}
	    	<li class="disabled"><a href="#">Prev</a></li>
		{% endif %}
			
			<li class="disabled"><a href="#">_______________________</a></li>
			
		{% if next %}
	    	<li class=""><a href="{% url qanda_app.views.tag_page tag=tag page=next %}">Next</a></li>
	    {% else %}
	    	<li class="disabled"><a href="#">Next</a></li>
		{% endif %}
	  </ul>
	</div>

	<div class="row">
		<p></p>
	</div>
	<div class="row">
		<p></p>
	</div>

	{% endblock %}

{% endblock %}