{% block navbar %}
{% load i18n %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{ ROOT_URL }}">{{ SITE_NAME }} {{ SITE_TITLE }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li {% if view == "question_list" %} class="active" {% endif %} ><a href="{% url qanda_app.views.index %}">{% trans "Home" %}</a></li>
          {% comment %}<li {% if view == "last_question_page" %} class="active" {% endif %} ><a href="{% url qanda_app.views.most_recent_question %}">{% blocktrans %}Last Question{% endblocktrans %}</a></li> {% endcomment %}
          <li {% if view == "tag_list" %} class="active" {% endif %} ><a href="{% url qanda_app.views.tag_list page="0" %}">{% trans "Tags" %}</a></li>
          <li {% if view == "category_list" %} class="active" {% endif %} ><a href="{% url qanda_app.views.category_list page="0" %}">{% trans "Categories" %}</a></li>
          <li {% if view == "new_question_page" %} class="active" {% endif %} ><a href="{% url qanda_app.views.new_question_page %}">{% trans "New Question" %}</a></li>
          {% if request.user.is_authenticated %}
          <li {% if view == "profile" %} class="active" {% endif %} ><a href="{% url qanda_app.views.profile_page user_id=request.user.QandaUser.pk %}">{% trans "Profile" %}</a></li>
          <li {% if view == "logout" %} class="active" {% endif %} ><a href="{{ LOGOUT_URL }}">{% trans "Logout" %}</a></li>
          {% else %}
          <li {% if view == "login" %} class="active" {% endif %} ><a href="{{ LOGIN_URL }}">{% trans "Login" %}</a></li>
          {% endif %}
        </ul>

        <!-- Search Form -->
        <form class="navbar-search pull-right" action="/search/" method="GET">
          <div class="controls">
          <div class="input-prepend">
          <span class="add-on">
            <i class="icon-search"></i>
            
            <input type="text" name="q" id="id_q" class="search-query" placeholder="{% trans 'Search' %}"></input>
          </span>
        </div>
      </div>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

{% endblock %}