{% extends "qanda/qanda_base.html" %}
{% load i18n %}

{% block title %}
	{{ SITE_NAME }} - {% trans "New Question" %}
{% endblock %}

{% block body %}

	<div class="container">

	    {% include "qanda/navbar.html" %}

		{% block new_question %}

			<div class="row">
				<div class="span6">
					<form method="post" action="{{ action_link }}">
						{% csrf_token %}
						{{ question_form.non_field_errors }}
						<input type="hidden" name="pk" value="{{ pk }}">
						<input type="hidden" name="type" value="{{ type }}">
						<div class="questionTitleWrapper">
					        <label for="id_title">
								<h2>
									{% trans "Title" %}:
				        		</h2>
				        		{% if question_form.title.errors %}
					        		<div class="alert alert-error">
					        			<button type="button" class="close" data-dismiss="alert">&times;</button>
							        	<strong>{% trans "Error in Title" %}</strong>{{ question_form.title.errors }}
							        </div>
						        {% endif %}
							</label>
					        {{ question_form.title }}
						</div>

						<div class="questionCategoryWrapper">
					        <label for="id_category">
					        	<h4>
					        		{% trans "Question Category" %}:
					        	</h4>
					        	{% if question_form.category.errors %}
					        		<div class="alert alert-error">
					        			<button type="button" class="close" data-dismiss="alert">&times;</button>
							        	<strong>{% trans "Error in Category" %}</strong>{{ question_form.category.errors }}
							        </div>
						        {% endif %}
					        </label>
					        {{ question_form.category }}
						</div>

						<div class="questionTextWrapper">
					        <label for="id_text">
					        	<h4>
					        		{% trans "Question Text" %}:
					        	</h4>
					        	{% if question_form.text.errors %}
					        		<div class="alert alert-error">
					        			<button type="button" class="close" data-dismiss="alert">&times;</button>
							        	<strong>{% trans "Error in Question Text" %}</strong>{{ question_form.text.errors }}
							        </div>
						        {% endif %}
					        </label>
					        {{ question_form.text }}
						</div>

						<div class="questionTagsWrapper">
					        <label for="id_tags">
					        	<h4>
					        		{% trans "Tags" %}:
					        	</h4>
					        	{% if question_form.tags.errors %}
					        		<div class="alert alert-error">
					        			<button type="button" class="close" data-dismiss="alert">&times;</button>
							        	<strong>{% trans "Error in Tags" %}</strong>{{ question_form.tags.errors }}
							        </div>
						        {% endif %}
					        </label>
					        {{ question_form.tags }}
						</div>

					<input type="submit" value="{% trans 'Submit' %}" />
					</form>
				</div>

				{% include "qanda/righthand_tags.html" %}
				
			</div>

		{% endblock %}

		{% include "qanda/scripts.html" %}

	</div>

{% endblock %}