{% extends "base.html" %}

{% block title %}
    Base
{% endblock %}

{% block meta %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
        <style>
          body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
          }
        </style>
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}qanda/css/qanda.css" rel="stylesheet">
        <link rel="icon" 
              type="image/png" 
              href="{{ STATIC_URL }}qanda/img/tree.png">

{% endblock %}


{% block navbar %}
    {% include "qanda/navbar.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}/jquery/jquery-1.9.1.js"></script>
<script src="{{ STATIC_URL }}qanda/js/qanda.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
{% endblock %}