{% extends "qanda/qanda_base.html" %}
{% load i18n %}
{% load qanda_extras %}

{% block title %}
	{{ SITE_NAME}} - {{ question.title }}
{% endblock %}

{% block body %}

	<div class="container">

	    {% include "qanda/navbar.html" %}

		{{ debug }}
		<div class="row">
			<div class="span10">
				<div class="question">
					<div class="row">
						<div class="pull-left">
							<a href="relate_single/upvote/{% if question.relations.upvote %}false{%else%}true{% endif %}" class="btn {% if question.relations.upvote %} active {% endif %}"><i class="icon-arrow-up"></i>{% trans "&nbsp;&nbsp;Up&nbsp;&nbsp;&nbsp;" %}</a>
							<br/>
							<h4 class="text-center">
								{% if question.numOfVotes > 0 %}
									+ {{ question.numOfVotes }}
								{% else %}
									{{ question.numOfVotes }}
								{% endif %}
								<a href="relate_single/star/{% if question.relations.star %}false{%else%}true{% endif %}" class="btn {% if question.relations.star %} active {% endif %} {% if question.relations.star %} btn-warning {% endif %}">
									{% if question.relations.star %}
										<i class="icon-star"></i>
									{% else %}									
										<i class="icon-star-empty"></i>
									{% endif %}
								</a>
							</h4>
							<a href="relate_single/downvote/{% if question.relations.downvote %}false{%else%}true{% endif %}" class="btn {% if question.relations.downvote %} active {% endif %}"><i class="icon-arrow-down"></i>{% trans "Down" %}</a>
							<br />
						</div>
						<div class="span8">
							<h6> {% trans "Category:" %} {% if question.category %}{{ question.category }}{% else %}{% trans "None" %}{% endif %}</h6>
							<h2> {{ question.title }} </h2> 
							<h6> {% blocktrans with viewCount=question.viewCount %} Views {{ viewCount }} {% endblocktrans %}</h6>
							{% if is_editor or request.user.is_superuser or question.author.djangoUser == user %}
							<div class="span6">
								<a class="edit-question" href="{% url edit_question_page question_id=question.pk %}">{% trans "Edit Question" %}</a> 
								| <a class="delete-question" href="{% url delete_question question_id=question.pk %}">{% trans "Delete Question" %}</a> 
								{% if is_editor or request.user.is_superuser %}
								| <a class="close-question" href="{% url close_question_page question_id=question.pk %}">{% trans "Close Question" %}</a>
								{% endif %}
							</div>
							{% endif %}
						</div>
					</div>
					<div class="row">
						<p></p>
					</div>
					<div class="row">
						<div class="span6">
							{% trans "by" %}: <i><a href="{{ question.author.get_absolute_url }}">{{ question.author.djangoUser }}</a></i> <br />
							{{ question.postDate }} <br />
						</div>
						<div class="span3">
							{% include "qanda/subscription.html" with pk=question.pk type="question_subscription" action_link="subscribe/" subscribed=question.subscribed %}
						</div>
					</div>
					<div class="row">
						<p></p>
					</div>
					<div class="row">
						<div class="span8">
							<blockquote style="word-wrap:break-word;">
								{{ question.text|urlizetrunc:48|url_target_blank }}  
							</blockquote>
						</div>
						<!-- <div class="span2">
							{% include "qanda/relations.html" with relations=question.relations pk=question.pk type="question" action_link="relate/" %}
						</div> -->
						<div class="span2 question-star-flag">
							<a href="relate_single/star/{% if question.relations.star %}false{%else%}true{% endif %}" class="btn {% if question.relations.star %} active {% endif %}">
								{% if question.relations.star %}
									<i class="icon-star"></i> {% trans "Starred" %}
								{% else %}									
									<i class="icon-star-empty"></i> {% trans "Star" %}
								{% endif %}
							</a>
							<br/>
							<br/>
							<a href="relate_single/flag/{% if question.relations.flag %}false{%else%}true{% endif %}" class="btn {% if question.relations.flag %} active {% endif %}">
								<i class="icon-flag"></i> {% trans "Flag" %}
							</a>
						</div>
					</div>
					<div class="row">
						<div class="span8">
							<ul>
								{% trans "Tags" %}:
								{% for tag in question.tags.all %}
									<a class="tag-link" href="{% url qanda_app.views.tag_page tag=tag.name page="0" %}">{{ tag.name }},</a>
								{% endfor %}
							</ul>	
						</div>
					</div>
					<div class="row">
						<div class="span8 question-useful">
							<h6>
								{% trans "Have you found this question useful?" %}
								<a href="relate_single/useful/{% if question.relations.useful %}false{%else%}true{% endif %}" class="btn {% if question.relations.useful %} active {% endif %}">{% trans "Yes" %}</a>
								<a href="relate_single/notUseful/{% if question.relations.notUseful %}false{%else%}true{% endif %}" class="btn {% if question.relations.notUseful %} active {% endif %}">{% trans "No" %}</a>
							</h6>
						</div>
					</div>
				</div>

				<!-- <div class="row">
					<div class="span8">
						<a href="{% url new_question_page %}">Enter a new question</a> <br />
					</div>
				</div> -->
				<hr>

				<h3>{% trans "Answers" %}</h3>
				<h6> {% blocktrans count counter=answers|length %} There is one answer. {% plural %} There are {{ counter }} answers. {% endblocktrans %} </h6>
				{% for answer in answers %}
				{% if not answer.deleted %}
				<div class ="row answer">
					<div class="span9">
					<p>
						<div class="row">
							<div class="pull-left">
								<a href="{{ answer.pk }}/upvote/{% if answer.relations.upvote %}false{%else%}true{% endif %}" class="btn {% if answer.relations.upvote %} active {% endif %}"><i class="icon-arrow-up"></i>{% trans "&nbsp;&nbsp;Up&nbsp;&nbsp;&nbsp;" %}</a>
								<br/>
								<h4 class="text-center">
									{% if answer.numOfVotes > 0 %}
										+ {{ answer.numOfVotes }}
									{% else %}
										{{ answer.numOfVotes }}
									{% endif %}
								</h4>
								<a href="{{ answer.pk }}/downvote/{% if answer.relations.downvote %}false{%else%}true{% endif %}" class="btn {% if answer.relations.downvote %} active {% endif %}"><i class="icon-arrow-down"></i>{% trans "Down" %}</a>
							</div>
							<div class="span7">
								<blockquote style="word-wrap:break-word;">
									{{ answer.text|urlizetrunc:48|url_target_blank }} 
								</blockquote>
							</div>
							<div class="pull-right answer-star-flag">
								<a href="{{ answer.pk }}/star/{% if answer.relations.star %}false{%else%}true{% endif %}" class="btn {% if answer.relations.star %} active {% endif %}">
									{% if answer.relations.star %}
										<i class="icon-star"></i> {% trans "Starred" %}
									{% else %}									
										<i class="icon-star-empty"></i> {% trans "Star" %}
									{% endif %}
								</a>
								<br/>
								<br/>
								<a href="{{ answer.pk }}/flag/{% if answer.relations.flag %}false{%else%}true{% endif %}" class="btn {% if answer.relations.flag %} active {% endif %}">
									<i class="icon-flag"></i> {% trans "Flag" %}
								</a>
							</div>
							<!-- <div class="span1">
								{% include "qanda/relations.html" with relations=answer.relations pk=answer.pk type="answer" action_link="relate/" %} <br />
							</div> -->
						</div>
						<div class="row">
							<div class="span5 offset1">
								{% trans "by" %}: <i><a href="{{ answer.author.get_absolute_url }}">{{ answer.author.djangoUser }}</a></i>
								{% if is_editor or request.user.is_superuser or question.author.djangoUser == user %}
									<a class="delete-answer pull-right" href="{% url delete_answer answer_id=answer.pk %}">{% trans "Delete Answer" %}</a>
								{% endif %}
							</div>
							<div class="span1">
								{% comment %}
								{% include "qanda/subscription.html" with pk=answer.pk type="answer_subscription" action_link="subscribe/" subscribed=answer.subscribed %}
								{% endcomment %}
							</div>
						</div>
						<div class="row answer-useful">
							<div class="span5 offset1">
								<h6>
									{% trans "Have you found this answer useful?" %}
									<a href="{{ answer.pk }}/useful/{% if answer.relations.useful %}false{%else%}true{% endif %}" class="btn {% if answer.relations.useful %} active {% endif %}">{% trans "Yes" %}</a>
									<a href="{{ answer.pk }}/notUseful/{% if answer.relations.notUseful %}false{%else%}true{% endif %}" class="btn {% if answer.relations.notUseful %} active {% endif %}">{% trans "No" %}</a>
								</h6>
							</div>
						</div>
						
						{% if answer.get_undeleted_replies.count != 0 %}
						<div class="row">
							<div class="span6 offset2">
								<h6>{% trans "Comments" %}</h6>
							</div>
						</div>
						{% endif %}
						{% for reply in answer.get_undeleted_replies %}
							{% if not reply.deleted %}
								<div class="row">
									<div class="reply-text-box span6 offset2">
										<span class="reply-text">
										{{ reply.text|urlizetrunc:48|url_target_blank }}
										</span> <br />
										<span>
											{% trans "by" %} <i><a href="{{ reply.author.get_absolute_url }}">{{ reply.author.djangoUser }}</a></i>
										</span> 
										{% if is_editor or request.user.is_superuser or question.author.djangoUser == user %}
											<span class="delete-comment">
												<a href="{% url delete_reply reply_id=reply.pk %}">{% trans "Delete comment" %}</a>
											</span>
										{% endif %}
										{% if not forloop.last %}<hr>{% endif %}
									</div>
									{% endif %}
								</div>
						{% endfor %}
						<div class="row">
							<p></p>
						</div>
						<div class="row reply-box">
							<div class="{% if answer.get_undeleted_replies.count == 0 %}offset1{% else %}offset2{% endif %}">
								{% if user.is_authenticated %}
									<div id="reply{{ answer.pk }}-display">
										<a href="#reply{{ answer.pk }}-display" onClick="toggleElementVisibility('#reply{{ answer.pk }}', '#reply{{ answer.pk }}-display', '#reply{{ answer.pk }}-hide', 0);">{% trans "Click to reply" %}</a>
									</div>
									<div id="reply{{ answer.pk }}-hide" style="display:none;">
										<a href="#reply{{ answer.pk }}-hide" onClick="toggleElementVisibility('#reply{{ answer.pk }}', '#reply{{ answer.pk }}-display', '#reply{{ answer.pk }}-hide', 0);">{% trans "Click to hide reply" %}</a>
										<div id="reply{{ answer.pk }}" style="display:none;">
											{% include "qanda/reply.html" with pk=answer.pk type="new_reply" action_link="relate/" %}
										</div>
									</div>
								{% else %}
									<a href="{% url qanda_app.views.login_redirect request.path %}">{% trans "Login to reply" %}</a>
								{% endif %}
							</div>
						</div>
						<hr>
					</p>
					</div>
				</div>
				{% endif %}
				{% endfor %}

				<div class="row">
					<h3> {% trans "Answer this question" %} </h3>

					{% include "qanda/new_answer.html" with type="new_answer" action_link="relate/" %}
				</div>
			</div>

			{% include "qanda/righthand_tags.html" %}

		</div>

		{% include "qanda/scripts.html" %}

	</div>

{% endblock %}