{% block reply %}
{% load i18n %}

	<form method="post" action="{{ action_link }}">
		{% csrf_token %}
		{{ reply_form.non_field_errors }}

		<input type="hidden" name="pk" value="{{ pk }}">
		<input type="hidden" name="type" value="{{ type }}">	
		<div class="replyTextWrapper">
	        <label for="id_text">
	        	<h5>
	        		{% trans "Reply" %}:
	        	</h5>
	        	{% if reply_form.text.errors %}
	        		<div class="alert alert-error">
	        			<button type="button" class="close" data-dismiss="alert">&times;</button>
			        	<strong>{% trans "Error in Tags" %}</strong>{{ reply_form.text.errors }}
			        </div>
		        {% endif %}
	        	{{ reply_form.text }}
	        </label>
		</div>	
		<input class="btn" type="submit" value="{% trans 'Submit' %}">
	</form>
{% endblock %}
