
{% load i18n %}
<div class="pull-right span2">
	<a href="{% url qanda_app.views.new_question_page %}">
		<button class="btn btn-large btn-primary {% if view == 'new_question_page' %} active {% endif %}" type="button" > 
			{% trans "Ask a new Question" %}
		</button>
	</a>
	<h4 class="recent-tags">
		{% trans "Recent Tags" %}
	</h4>
	<div class="tags-box">
		{% for tag in recent_tags %}
		<a class="tag-link" href="{% url qanda_app.views.tag_page tag=tag page=0 %}">
			#{{ tag }}
		</a>
		<br/>
		{% endfor %}
	</div>
	<h4 class="common-tags">
		{% trans "Common Tags" %}
	</h4>
	<div class="tags-box">
		{% for tag in common_tags %}
		<a class="tag-link" href="{% url qanda_app.views.tag_page tag=tag page=0 %}">
			#{{ tag }}
		</a>
		<br/>
		{% endfor %}
	</div>
</div>