
.votecount-box {
	font-size: 12px !important;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border: outset;
	border-color: rgba(240, 240, 240, 1);
	text-align: center;
}

.votecount-box:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.answercount-box {
	font-size: 12px !important;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	background-color: rgb(255, 255, 255);
	color: rgba(200, 0, 0, 1);
	border: outset;
	border-color: rgba(240, 240, 240, 1);
	text-align: center;
}

.answercount-box:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.viewcount-box {
	font-size: 12px !important;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	background-color: rgb(255, 255, 255);
	color: rgba(0, 0, 0, 0.5);
	border: outset;
	border-color: rgba(240, 240, 240, 1);
	text-align: center;
}

.viewcount-box:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.question-box {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: rgb(255, 255, 255);
	color: rgba(0, 0, 180, 1);
}

.question-box:hover {
	/*border: solid;*/
	border-color: rgba(230, 230, 230, 1);
}

.tags-box {
	padding-top: 10px;
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	background-color: rgb(255, 255, 255);
	border: none;
	text-align: right;
	line-height: 20px;
}

.tag-link {
	color: rgba(0, 0, 0, 1);
	font-size: 14;
}

.tag-link:hover {
	color: rgba(255, 0, 0, 1);
	font-size: 18;
}

.title {
	font-size: 22;
	color: rgb(0, 0, 0);
}

.questiontag {
	color: rgb(255, 255, 255);
	background-color: rgba(240, 80, 0, 1);
	border-color: rgba(0, 0, 0, 0.2);
	margin-right: 2px;
	font-size: 12;
}

.questioninfo {
	font-size: 12;
	color: rgb(0, 0, 0);
}

.recent-tags {
	text-align: center;
}

.common-tags {
	text-align: center;
}

.tag-list-element {
	font-size: 15;
	color: rgba(0, 0, 0, 1);
}

.tag-list-element:hover {
	color: rgba(255, 0, 0, 1);
}

.tag-list-used {
	font-size: 10;
}

.question-useful {
	display: none;
}

.question:hover .question-useful {
	display: none;
}

.answer-useful {
	display: none;
}

.answer:hover .answer-useful {
		display: none;
}

.reply-box {
	display: block;
}

.answer:hover .reply-box {
	/*display: block;*/
}

.profile-summary {
	font-size: 22;
	font-weight: 700;
}

.profile-summary-begin {
	font-size: 18;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 20px;
}

.profile-summary-element {
	font-size: 18;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.profile-important-link:hover {
	font-size: 22;
	color: red;
}

.profile-rest {
	padding-top: 20px;
	font-size: 22;
	font-weight: 700;
}

.profile-rest-table {
	font-size: 16;
	margin-top: 10px;
	margin-bottom: 10px;
}

.profile-rest-table td {
	width: 200px;
	height: 60px;
	border: inset;
	border-color: rgba(240, 240, 240, 0.8);
	vertical-align: center;
	text-align: center;
}

.profile-rest-table th {
	width: 200px;
	height: 60px;
	border: inset;
	border-color: rgba(240, 240, 240, 0.8);
	background-color: rgba(220, 220, 220, 0.8);
	vertical-align: center;
	text-align: center;
}

.profile-rest-table td:first-child {
	background-color: rgba(230, 230, 230, 0.8);
}

.profile-rest-table td:first-child + td {
	font-size: 22;
	font-weight: 700;
}

.profile-rest-table td:first-child + td + td {
	font-size: 22;
	font-weight: 700;
}

.relations-title {
	color: black;
}

.relations-table {
	display: block;
}

.relations-message {
	font-size: 9;
}

.question-star-flag {
	display: none;
}

.answer-star-flag {
	display: none;
}

.user-relations-block {
	display: none;
}

.question-relations-block {
	display: block;
}

.answer-relations-block {
	display: block;
}

.question-useful-row {
	display: none;
}

.question-notUseful-row {
	display: none;
}

.question-title-row {

}

.question-upvotes-row {

}

.question-downvotes-row {

}

.answer-title-row {
	
}

.answer-upvotes-row {

}

.answer-downvotes-row {

}

.question-stars-row {
	/*display: none;*/
}

.question-flags-row {
	display: none;
}

.answer-useful-row {
	display: none;
}

.answer-notUseful-row {
	display: none;
}

.answer-stars-row {
	display: none;
}

.answer-flags-row {
	display: none;
}

